/* Master Styles */
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  background-color: white;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Footer Styles */
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eb908a;
  height: 20vw;
  justify-content: center;
}

.social-media-wrapper {
  margin-top: 3vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.social-media-image-wrapper {
  margin-right: 1.5vw;
}

.social-media-image-wrapper img {
  width: 5vw;
  height: 5vw;
}

.footer-wrapper span {
  display: block;
  width: 80%;
  height: 0.3vw;
  background: #f1f1f1;
  margin-left: 10%;
}

.footer-logo-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3vw 3vw;
  justify-content: center;
  align-content: center;
}

.footer-logo-wrapper h4 {
  font-size: 1.5vw;
  text-align: center;
  color: #f1f1f1;
  height: 3vw;
  margin: 0;
}

.footer-logo-wrapper p {
  font-size: 1vw;
  text-align: center;
  color: #f1f1f1;
  height: 3vw;
  margin: 0;
}

/* Nav Styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  box-shadow: 0.5vw 0.01vw 2vw lightgrey;
}

.left-side {
  display: flex;
}

.nav-wrapper>.left-side>div {
  margin-right: 2vw;
  font-size: 1.1vw;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 1.3vw;
  border-bottom: 0.05px solid transparent;
}

.nav-link-wrapper a {
  color: #eb908a;
  text-decoration: none;
}

.brand>div {
  color: #eb4236;
  font-weight: 600;
  font-size: 1.5vw;
}

.nav-link-wrapper:hover {
  border-bottom: 0.05vw solid #eb4236;
}

.nav-link-wrapper a:hover {
  color: #eb4236;
}

.active-nav-link {
  border-bottom: 1px solid #eb4236;
}

.active-nav-link a {
  color: #eb4236 !important;
}

/* Banner Styles */

.content-wrapper {
  display: grid;
  margin: 0px;
}

.banner-wrapper {
  position: relative;
  height: 30vw;
  width: 100%;
  align-content: center;
}

.banner-image-wrapper {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vw;
}

.banner-text-wrapper {
  position: absolute;
  top: 8vw;
  height: 17vw;
}

.banner-text-wrapper h1 {
  text-align: center;
  color: #eb4236;
  font-size: 8vw;
}

.banner-text-wrapper h2 {
  text-align: center;
  color: #f06960;
  font-size: 4vw;
}

/* Home Styles */
.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20vw 20vw;
  align-items: center;
}

.home-image-wrapper {
  display: grid;
  align-items: center;
}

.home-image-wrapper img {
  width: 75%;
  margin: auto;
}

.home-text-wrapper h1 {
  font-size: 4.5vw;
  color: #eb4236;
}

.home-text-wrapper h2 {
  font-size: 2.5vw;
  color: #eb908a;
}

.animate-home-text-wrapper h1 {
  font-size: 4.5vw;
  color: #eb4236;
  margin-left: 20%;
}

.animate-home-text-wrapper h2 {
  font-size: 2.5vw;
  color: #eb908a;
  margin-left: 20%;
  margin-top: 5%;
}

.animate-home-text-wrapper span {
  background: #eb908a;
  width: 70%;
  display: block;
  height: 0.3vw;
}

/* for the about page (I can put it in the about page file if that would be better) */
div.person {
  width: 90%;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  color: #a39493;
}

div#mainarea {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div#WhoWeAre {
  display: flex;
  flex-direction: row;
}

div#description {
  margin: 2em;
  display: inline-block;
  color: #a39493;
  word-wrap: break-word;
  width: 60%;
}

div.title {
  font-weight: bold;
  text-align: center;
  color: #363333;
  font-size: 2vw;
}

img#photo {
  max-height: 85%;
  max-width: 40%;
  grid-area: photo;
  padding: 2vw;
}

h1.teamate {
  font-weight: bold;
  text-decoration: none;
  font-size: 2vw;
  color: black;
}

/* Article Styling */

div.articles {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.article {
  width: 90%;
  background-color: lightgray;
  padding: 2em;
  margin: 2em;
  display: flex;
  flex-direction: row;
}

a.article-head {
  font-weight: bold;
  text-decoration: none;
  font-size: 2vw;
  color: black;
}

a.article-head:hover {
  color: #f06960;
}

div.article-description {
  margin-top: 0.5vw;
  word-wrap: break-word;
  font-size: 1.3vw;
}

img.photo {
  max-width: 30%;
  max-height: 20vw;
  padding: 1vw;
  margin: auto;
}

div.words {
  width: 100%;
  font-family: "Lato", sans-serif;
}

/* styling for the example pages */
div.article-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

div.article-title {
  width: 50%;
  font-weight: bold;
  font-size: 3vw;
  color: darkslategray;
}

a.author {
  text-decoration: none;
  color: black;
  width: 50%;
}

.author:hover {
  color: #f06960;
}

div.article-photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

div.article-date {
  width: 50%;
}

img.article-img {
  width: 100%;
}

h1.caption {
  font-size: 0.75vw;
}

div.words {
  width: 50%;
  font-size: 1.2em;
}

p {
  text-indent: 2em;
}

/* styling for the author bio pages */

h1.name {
  color: slategray;
  text-align: center;
}

div.biocontainer {
  display: flex;
  flex-direction: row;
}

div.bio {
  color: slategray;
  padding: 1em;
  width: 70%;
}

h1.other {
  color: slategray;
  font-size: 1.5em;
}

a.link {
  display: inline-block;
  padding: 1.5em;
  margin: 0.4em;
  color: white;
  text-decoration: none;
  background-color: lightgrey;

}

.link:hover {
  color: #f06960;
}