/* Master Styles */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
    background-color: white;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2vw;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.1vw;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 1.3vw;
    border-bottom: 1px solid transparent;
}

.nav-link-wrapper a {
    color: #eb908a;
    text-decoration: none;
}

.brand > div {
    color: #eb4236;
    font-weight: 600;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #eb4236;
}

.nav-link-wrapper a:hover {
    color: #eb4236;
}

.active-nav-link {
    border-bottom: 1px solid #eb4236;
}

.active-nav-link a {
    color: #eb4236 !important;
}

/* Banner Styles */

.content-wrapper {
    display: grid;
    margin: 0px;
}

.banner-wrapper {
    position: relative;
    height: 750px;
    width: 100%;
    align-content: center;
}

.banner-image-wrapper {
    background-size: cover;
    background-position: center;
    width: 100%;
    height:750px;
}

.banner-text-wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
}

.banner-text-wrapper h1 {
    text-align: center;
    color: #eb4236;
    font-size: 8vw;
}

.banner-text-wrapper h2 {
    text-align: center;
    color: #f06960;
    font-size: 4vw;
}

.banner-text-wrapper img {
    top: 280px;
    width: 4%;
    padding-top: 4vw;
    padding-left: 48%;
    opacity: 0;
}

.banner-text-wrapper:hover img {
    transition: 1s;
    opacity: 1;
}

/* Home Styles */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5%;
}

.home-image-wrapper {
    display: grid;
    align-items: center;
}

.home-image-wrapper img {
    width: 75%;
    margin: auto;
}

.home-text-wrapper h1 {
    font-size: 4.5em;
    color: #eb4236;
}

.home-text-wrapper h2 {
    font-size: 2.5vw;
    color: #eb908a; 
}

.animate-home-text-wrapper h1 {
    font-size: 5vw;
    color: #eb4236;
    margin-left: 20%;
}

.animate-home-text-wrapper h2 {
    font-size: 2.5vw;
    color: #eb908a;
    margin-left: 20%;
    margin-top: 5%;
}

.animate-home-text-wrapper span {
    background: #eb908a;
    width: 70%;
    display: block;
    height: 0.3vw;
}

/* for the about page (I can put it in the about page file if that would be better) */
div#mainarea {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

div#description {
    margin: 2em;
    display: inline-block;
    color: #a39493;
    word-wrap: break-word;
    width: 60%;
}

div#title {
    font-weight: bold;
    text-align: center;
    color: #363333;
}

img#photo {
    max-height: 85%;
    max-width: 40%;
    grid-area: photo;
    padding: 2vw;
}
div.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.article {
    width: 90%;
    background-color: lightgray;
    padding: 2em;
    margin: 2em;
    display: flex;
    flex-direction: row;
}

a.article-head {
    font-weight: bold;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}

a.article-head:hover {
    color: #f06960;
}

div.article-description {
    margin-top: 0.5vw;
    word-wrap: break-word;
}

img.photo {
    max-width: 30%;
    padding: 1vw;
}

div.words {
    width: 100%;
}
